@import "../bower_components/bootstrap/less/bootstrap";
@import "./all-questions";
@import "./single-question";

body {
	font-family: 'Lato', sans-serif;
}

.grey-wrapper {
  min-height: 100vh;
  background-color: #F4F4F4;
}

.col-xs-off {
  @media (max-width: 992px) {
    display: none;
  }
}

.col-md-off {
  @media (min-width: 992px) {
    display: none;
  }
}
