/* line 6, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator {
  padding: 30px 0 0 0;
  background-color: white;
  color: grey;
}
@media (max-width: 768px) {
  /* line 11, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
  .all-questions .navigator {
    padding: 10px 5px 0 5px;
  }
}
/* line 15, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper {
  max-width: 992px;
  margin: 0 auto;
}
/* line 19, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .sort {
  margin-bottom: 15px;
}
/* line 22, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .sort .title {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
/* line 29, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .sort .options .recent-btn,
.all-questions .navigator .wrapper .sort .options .hot-btn {
  cursor: pointer;
}
/* line 32, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .sort .options .recent-btn.mark,
.all-questions .navigator .wrapper .sort .options .hot-btn.mark {
  font-weight: bold;
  color: #3b7dbb;
}
/* line 41, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .search input {
  border-radius: 0;
}
/* line 45, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .navigator .wrapper .search button {
  width: 100%;
  color: grey;
  border-radius: 0;
}
/* line 54, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions {
  max-width: 992px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 2px 2px;
}
/* line 60, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question {
  padding-bottom: 30px;
}
/* line 63, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
/* line 69, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__header {
  height: 78px;
  background-color: #d0efff;
  color: #3b7dbb;
}
/* line 74, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__header .avatar {
  margin: 10px 35px 0 25px;
  width: 62px;
  height: 62px;
}
@media (max-width: 768px) {
  /* line 80, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
  .all-questions .questions .question .question__header .avatar {
    margin: 10px 35px 0 15px;
  }
}
/* line 84, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__header .text {
  position: relative;
  top: 10px;
}
@media (max-width: 768px) {
  /* line 87, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
  .all-questions .questions .question .question__header .text {
    padding-left: 0;
  }
}
/* line 91, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__header .text .name {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
/* line 97, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__header .text .title {
  font-size: 17px;
  line-height: 0;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
/* line 108, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .status {
  position: relative;
  width: 85%;
  top: 82px;
  left: 7.5%;
  padding-top: 3px;
  border-top: 1px solid grey;
  text-align: center;
  opacity: 0.5;
}
@media (max-width: 768px) {
  /* line 118, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
  .all-questions .questions .question .question__answers .status {
    font-size: 11px;
  }
}
/* line 123, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .leftside-frame {
  height: 215px;
  background-color: #d0efff;
}
/* line 127, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .leftside-frame .status {
  width: 100%;
  top: 186px;
  left: 0;
}
/* line 134, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .answer {
  height: 185px;
  margin-top: 30px;
  padding-top: 25px;
  background-color: #e8e8e8;
  cursor: pointer;
  trasition: 0.4s ease all;
}
/* line 142, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .answer .avatar {
  margin: 0 auto;
}
/* line 147, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .more-activities {
  height: 185px;
  margin-top: 30px;
  padding-top: 25px;
  cursor: pointer;
  trasition: 0.4s ease all;
}
/* line 154, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .more-activities .number {
  position: relative;
  top: 15px;
  text-align: center;
}
/* line 160, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .more-activities .text {
  position: relative;
  top: 110px;
  text-align: center;
}
/* line 167, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .question__answers .answer:hover,
.all-questions .questions .question .question__answers .more-activities:hover {
  background-color: #dbdbdb;
}
/* line 172, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .relatives {
  position: relative;
  top: 46px;
}
/* line 176, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .question .relatives div {
  position: inherit;
  margin-top: 60px;
}
/* line 183, /home/arnimarl/workspace/monterailapp/app/styles/all-questions.less */
.all-questions .questions .load-more {
  padding: 40px 0 40px 30px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
