/* line 5, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers {
  max-width: 992px;
  margin: 0 auto;
  background-color: white;
  color: grey;
  box-shadow: 1px 2px 2px;
}
/* line 12, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header {
  color: #3b7dbb;
}
@media (max-width: 992px) {
  /* line 15, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .header {
    padding: 0 10px 10px 0;
  }
}
/* line 19, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .name {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
/* line 25, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .question {
  font-size: 17px;
  font-weight: bold;
  line-height: 0;
  font-style: italic;
}
/* line 32, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .date {
  color: black;
}
/* line 37, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
/* line 43, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .description {
  padding-bottom: 20px;
}
/* line 47, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .upvotes {
  top: 25px;
  color: black;
}
@media (max-width: 992px) {
  /* line 51, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .upvotes {
    top: 0;
  }
}
/* line 55, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .upvotes .up-btn {
  position: relative;
  top: -15px;
  left: 15px;
  cursor: pointer;
}
/* line 62, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .upvotes .down-btn {
  position: relative;
  top: 20px;
  cursor: pointer;
}
/* line 70, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .leftsidebar {
  height: 200px;
}
@media (max-width: 992px) {
  /* line 73, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .leftsidebar {
    height: 80px;
    background-color: red;
  }
}
/* line 79, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .avatar {
  margin-top: 12px;
}
/* line 83, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .header {
  padding: 12px 0 20px 15px;
}
@media (max-width: 992px) {
  /* line 86, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .header {
    height: 80px;
    padding: 12px 0 10px 0;
  }
}
/* line 92, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .lightblue {
  background-color: #d0efff;
}
/* line 96, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .description {
  padding-top: 10px;
}
@media (max-width: 992px) {
  /* line 99, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .description {
    padding-top: 0;
  }
}
/* line 104, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .follow {
  padding-right: 90px;
  color: #3b7dbb;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 992px) {
  /* line 110, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .follow {
    margin-top: -10px;
  }
}
@media (max-width: 992px) {
  /* line 118, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .answers .header {
    padding: 0 10px 0 0;
  }
}
