/* line 5, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers {
  max-width: 992px;
  margin: 0 auto;
  background-color: white;
  color: grey;
  box-shadow: 1px 2px 2px;
}
@media (max-width: 992px) {
  /* line 13, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .header {
    padding: 0 10px 10px 0;
  }
}
/* line 17, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .name {
  font-size: 20px;
  color: #3b7dbb;
  font-weight: bold;
}
/* line 23, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .question {
  color: #3b7dbb;
}
/* line 27, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .header .date {
  color: black;
}
/* line 32, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .avatar {
  width: 48px;
  height: 48px;
}
/* line 37, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .description {
  padding-bottom: 20px;
}
/* line 41, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .upvotes {
  top: 25px;
  color: black;
}
@media (max-width: 992px) {
  /* line 45, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .upvotes {
    top: 0;
  }
}
/* line 51, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .leftsidebar {
  height: 200px;
}
@media (max-width: 992px) {
  /* line 54, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .leftsidebar {
    height: 80px;
    background-color: red;
  }
}
/* line 60, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .avatar {
  padding-top: 12px;
}
/* line 64, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .header {
  padding: 12px 0 20px 15px;
}
@media (max-width: 992px) {
  /* line 67, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .header {
    height: 80px;
    padding: 12px 0 10px 0;
  }
}
/* line 73, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .lightblue {
  background-color: #d0efff;
}
/* line 77, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .description {
  padding-top: 10px;
}
@media (max-width: 992px) {
  /* line 80, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .description {
    padding-top: 0;
  }
}
/* line 85, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
.single-question .question-and-answers .question .follow {
  padding-right: 90px;
  color: #3b7dbb;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 992px) {
  /* line 91, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .question .follow {
    margin-top: -10px;
  }
}
@media (max-width: 992px) {
  /* line 99, /home/arnimarl/workspace/monterailapp/app/styles/single-question.less */
  .single-question .question-and-answers .answers .header {
    padding: 0 10px 0 0;
  }
}
