<div class="all-questions">

  <div class="navigator">
    <div class="wrapper">
      <div class="sort">
        <span class="title">QUESTIONS</span>
        <span class="pull-right options">
          <span>Sort by:
            <span ng-click="sort('recent')" ng-class="{'mark': sortBy === 'recent'}" class="recent-btn">recent</span>
            or
            <span ng-click="sort('hot')" ng-class="{'mark': sortBy === 'hot'}" class="hot-btn">hot</span>
          </span>
        </span>
      </div>
      <div class="row search">
        <form>
          <div class="col-xs-12 col-md-10 form-group"> 
            <input class="form-control" ng-model="searchText" placeholder="Search in questions">
          </div>
          <div class="col-xs-off col-md-2">
            <button class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="questions">
    <div class="row question" ng-repeat="question in getQuestionsToDisp(numOfQuestionsToDisp, allQuestions) | filter:searchText | orderBy:sortBy:true">
      <div class="col-xs-12">
        <div class="col-xs-12 col-md-10">
          <div class="row question__header">
            <div class="col-xs-4 col-md-2">
              <img class="img-responsive img-circle avatar" ng-src="{{question.createdBy.avatarSrc}}" ng-click="displayUserModal(question.createdBy)">
            </div>
            <div class="col-xs-8 col-md-10 text">
              <span class="name" ng-click="displayUserModal(question.createdBy)">{{ question.createdBy.name }}</span>
              <span class="grey">IS ASKING</span>
              <br>
              <span class="title" ng-click="goToQuestion(question)">{{ question.title }}</span>
            </div>
          </div>
          <div class="row question__answers">
            <div class="col-xs-4 col-md-2 leftside-frame">
              <div class="status">ASKED</div>
            </div>
            <div class="col-xs-4 col-md-2" ng-if="getNumOfMoreActivities(question) >= 1">
              <div class="more-activities">
                <div class="number"> {{ getNumOfMoreActivities(question) }} </div>
                <div class="text">more activities</div>
              </div>
            </div>
            <div class="col-xs-4 col-md-2" ng-repeat="answer in getAnswers(question.answers)">
              <div class="answer">
                <img class="img-responsive img-circle avatar" ng-src="{{answer.createdBy.avatarSrc}}" ng-click="displayUserModal(answer.createdBy)">
                <div class="status">COMMENTED</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-xs-off relatives">
          <div class="italic"><span class="fw-600">{{ question.relatedDisqussionsNumber }}</span> related disqussions</div>
          <div class="italic"><span class="fw-600">{{ question.peersInvolvedNumber }}</span> peers involved</div>
          <div class="italic"><span class="fw-600">{{ question.conversationsNumber }}</span> conversations</div>
        </div>
      </div>
    </div>

    <div class="load-more" ng-if="numOfQuestionsToDisp < allQuestions.length" ng-click="incrementNumOfQuestionsToDisp()">load more questions</div>
  </div>

  <user-modal user-modal-on="userModalOn" user="user"></user-modal>

</div>

