<div class="single-question">
  
  <div class="row question-and-answers">

    <div class="col-xs-12 question">
      <div class="row">
        <div class="col-xs-off col-md-1 leftsidebar lightblue">
          <img class="img-responsive img-circle avatar" ng-src="{{img}}">
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="row">
            <div class="col-xs-2 col-md-off leftsidebar lightblue">
              <img class="img-responsive img-circle avatar" ng-src="{{img}}">
            </div>
            <p class="col-xs-10 col-md-12 header lightblue">
              <span class="name">Patrica</span>
              <span>IS ASKING:</span>
              <br>
              <span class="question">Will insulin help my patient gein weight?</span>
              <span class="pull-right follow col-xs-off">unfollow</span>
            </p>
            <p class="col-xs-12 col-md-9 description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="col-xs-off col-md-3 text-center upvotes">
              19 upvotes
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-off text-right upvotes">
              <div class="row">
                <div class="col-xs-6">
                  <span class="follow pull-left">unfollow</span>
                </div>
                <div class="col-xs-6 pull-right text-right">
                  19 upvotes
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 answers">
      <div class="row">
        <div class="col-xs-off col-md-1">
          <img class="img-responsive img-circle avatar" ng-src="{{img}}">
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-xs-2 col-md-off">
              <img class="img-responsive img-circle avatar" ng-src="{{img}}">
            </div>
            <p class="col-xs-10 col-md-12 header">
              <span class="name">Patrica</span> 
              <span>COMMENTED IT</span> 
              <span class="date">yesterday</span>
            </p>
            <p class="col-xs-12 description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-off text-right upvotes">
              19 upvotes
            </div>
          </div>
        </div>
        <div class="col-xs-off col-md-3 text-center upvotes">
          19 upvotes
        </div>
      </div>
    </div>

  </div>

</div>