<div class="single-question">

  <div class="site-title-wrapper">
    <div class="title">QUESTION</div>
  </div>
  
  <div class="row question-and-answers">

    <div class="col-xs-12 question">
      <div class="row">
        <div class="col-xs-off col-md-1 leftsidebar lightblue">
          <img class="img-responsive img-circle avatar" ng-src="{{question.createdBy.avatarSrc}}" ng-click="displayUserModal(question.createdBy)">
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="row">
            <div class="col-xs-3 col-md-off leftsidebar lightblue">
              <img class="img-responsive img-circle avatar" ng-src="{{question.createdBy.avatarSrc}}" ng-click="displayUserModal(question.createdBy)" >
            </div>
            <p class="col-xs-9 col-md-12 header lightblue">
              <span class="name" ng-click="displayUserModal(question.createdBy)">{{ question.createdBy.name }}</span>
              <span class="grey">IS ASKING:</span>
              <br>
              <span class="question">{{ question.title }}</span>
              <span class="pull-right follow col-xs-off">unfollow</span>
            </p>
            <p class="col-xs-12 col-md-9 description">{{ question.description }}</p>
            <div class="col-xs-off col-md-3 text-center upvotes">
              {{ question.votes }} upvotes 
              <span class="glyphicon glyphicon-chevron-up up-btn" ng-click="voteUp(question)"></span>
              <span class="glyphicon glyphicon-chevron-up down-btn" ng-click="voteDown(question)"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-off text-right upvotes">
              <div class="row">
                <div class="col-xs-6">
                  <span class="follow pull-left">unfollow</span>
                </div>
                <div class="col-xs-6 pull-right text-right">
                  {{ question.votes }} upvotes
                  <span class="glyphicon glyphicon-chevron-up up-btn" ng-click="voteUp(question)"></span>
                  <span class="glyphicon glyphicon-chevron-up down-btn" ng-click="voteDown(question)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <button class="btn btn-default btn-new-answer">GIVE new answer</button>
      <div class="already-answered">
        <span class="num">{{ question.answers.length }}</span> 
        peers already answered {{ question.createdBy.name }}
      </div>
    </div>

    <div class="col-xs-12 answers">
      <div class="row answer" ng-repeat="answer in question.answers">
        <div class="col-xs-off col-md-1">
          <img class="img-responsive img-circle avatar" ng-src="{{answer.createdBy.avatarSrc}}" ng-click="displayUserModal(answer.createdBy)">
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-xs-3 col-md-off">
              <img class="img-responsive img-circle avatar" ng-src="{{answer.createdBy.avatarSrc}}" ng-click="displayUserModal(answer.createdBy)">
            </div>
            <p class="col-xs-9 col-md-12 header">
              <span class="name" ng-click="displayUserModal(answer.createdBy)">{{ answer.createdBy.name }}</span> 
              <span class="grey">COMMENTED IT</span> 
              <span class="date">{{ answer.date }}</span>
            </p>
            <p class="col-xs-12 description">{{ answer.description }}</p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-off text-right upvotes">
              {{ answer.votes }} upvotes
              <span class="glyphicon glyphicon-chevron-up up-btn" ng-click="voteUp(answer)"></span>
              <span class="glyphicon glyphicon-chevron-up down-btn" ng-click="voteDown(answer)"></span>
            </div>
          </div>
        </div>
        <div class="col-xs-off col-md-3 text-center upvotes">
          {{ answer.votes }} upvotes
          <span class="glyphicon glyphicon-chevron-up up-btn" ng-click="voteUp(answer)"></span>
          <span class="glyphicon glyphicon-chevron-up down-btn" ng-click="voteDown(answer)"></span>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button class="btn btn-default btn-comment">COMMENT</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <user-modal user-modal-on="userModalOn" user="user"></user-modal>

</div>